body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ffe;
    margin: 0;
    padding: 0;
    
}

.countdown-container{
    height: 100vh;
    background-color: rgb(161, 172, 194);
}

h1 {
    margin-bottom: 30px;
    background-color: hsl(0, 0%, 0%);
    color: white;
}

#countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    background-color: aqua;
}

.time-unit {
    padding: 8px 11px;
    border-radius: 6px;
}

#time-left {
    margin-top: 11px;
    font-size: 22px;
    background-color: crimson;
    margin-top: 22px;
    padding: 20px;
    color: white;
}
